//variables para los mixins
$fontSizeG: 14; //tamaño de fuente global

$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-laptop: $breakpoint-tablet + 1;
$breakpoint-monitor: 1400px;